body{
	font-family:"Comic Sans MS", "helvetica";
	color:#464646;
	background-color:#bcb0cd;}
	
h1{
	text-align:center;
	font-family:Arial; 
	color:#663399;
	background-color:#bcb0cd;}
	
h2{
	font-size: 40px;
	font-family:"Great Vibes","helvetica";
	color:#CC0066;
	background-color:#bcb0cd;}

span{
	font-weight: bold;
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 80px;
}

.bandeau {
    height: 110px;
    margin: 0;
    background : url('images/bandeau.png') repeat-x;
}


.udl { 
  text-decoration: underline;
}

.tab{
	text-align:right; 
	font-weight:bold; 
}

.why{
	text-align: center;
	font-weight: bold;
}

#photo {
  width: 50%;
  height: 50%;
  margin: 20px;
  padding: 1px;
  border: 20px solid black;
}

#photo1 {
	width: 39%;
	height: 39%;
	margin: 10px;
	border: 10px solid pink;
}

.droite {
  float: right;
}

td{
border : 1px solid black
}

table{
	border-collapse: collapse;
}

a {
  color: black;       
  text-decoration: none; 
}

a:hover {
  color: blue;         
  text-decoration: underline;
  font-style: italic;
}

.zoom {
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.zoom:active {
  transform: scale(2);
}